<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <context:annotation-config/>
	<context:component-scan base-package="info.rmapproject.api" />
    <context:property-placeholder location="classpath:/rmapapi.properties"/>

    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:spring-rmapcore-context.xml" />

    <bean class="org.springframework.web.context.support.ServletContextPropertyPlaceholderConfigurer"/>
    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/>
		
    <bean id="discoResponseManager" class="info.rmapproject.api.responsemgr.DiscoResponseManager"/>
    <bean id="agentResponseManager" class="info.rmapproject.api.responsemgr.AgentResponseManager"/>
    <bean id="eventResponseManager" class="info.rmapproject.api.responsemgr.EventResponseManager"/>
    <bean id="statementResponseManager" class="info.rmapproject.api.responsemgr.StatementResponseManager"/>
    <bean id="resourceResponseManager" class="info.rmapproject.api.responsemgr.ResourceResponseManager"/>
	
    <bean id="resourceApiService" class="info.rmapproject.api.service.ResourceApiService"/>
    <bean id="discoApiService" class="info.rmapproject.api.service.DiSCOApiService"/>
    <bean id="statementApiService" class="info.rmapproject.api.service.StatementApiService"/>
    <bean id="agentApiService" class="info.rmapproject.api.service.AgentApiService"/>
    <bean id="eventApiService" class="info.rmapproject.api.service.EventApiService"/>

	<bean id="timegate" class="info.rmapproject.api.responsemgr.versioning.TimegateImpl"/>
			
	<bean id="authenticationInterceptor" class="info.rmapproject.api.auth.AuthenticationInterceptor"/>
    <bean id="apiUserService" class="${rmapapi.userservice.impl}"/>
		
</beans>

