<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">

    <context:property-placeholder location="classpath:/rmapauth.properties"/>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${authdb.driverClassName}" />
        <property name="url" value="${authdb.url}" />
        <property name="username" value="${authdb.username}" />
        <property name="password" value="${authdb.password}" />
		<property name="validationQuery" value="${authdb.validationQuery}"/>
		<property name="testOnBorrow" value="${authdb.testOnBorrow}"/>
    </bean>
		
    <!-- Hibernate 4 SessionFactory Bean definition -->
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="annotatedClasses">
            <list>
                <value>info.rmapproject.auth.model.ApiKey</value>
                <value>info.rmapproject.auth.model.User</value>
                <value>info.rmapproject.auth.model.UserIdentityProvider</value>
                <value>info.rmapproject.auth.model.KeyStatus</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${authdb.hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${authdb.hibernate.show_sql}</prop>
            </props>
        </property>
    </bean>	
    
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
	   <property name="sessionFactory" ref="sessionFactory"/>
	</bean>
        
</beans>
