<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

    <context:property-placeholder location="classpath:/rmapauth.properties" ignore-unresolvable="true"/>
    <context:component-scan base-package="info.rmapproject" />
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <import resource="classpath:/spring-rmapcore-context.xml" />

    <bean id="transactionManager" autowire="byType"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
    </bean>

    <!-- Hibernate 4 SessionFactory Bean definition -->
    <bean abstract="true" id="sessionFactory" autowire="byType"
        class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="annotatedClasses">
            <list>
                <value>info.rmapproject.auth.model.ApiKey</value>
                <value>info.rmapproject.auth.model.User</value>
                <value>info.rmapproject.auth.model.UserIdentityProvider</value>
                <value>info.rmapproject.auth.model.KeyStatus</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">${authdb.hibernate.dialect}</prop>
                <prop key="hibernate.show_sql">${authdb.hibernate.show_sql}</prop>
            </props>
        </property>
    </bean>

    <!-- unit tests -->
    <beans profile="inmemory-db">
        <context:property-placeholder location="classpath*:/inmemory-db.properties" ignore-unresolvable="true"/>

        <jdbc:embedded-database id="inmemoryDatasource" type="DERBY"/>

        <jdbc:initialize-database enabled="true" data-source="inmemoryDatasource" ignore-failures="ALL">
            <jdbc:script location="${authdb.script.database-schema}" execution="INIT"/>
            <jdbc:script location="${authdb.script.create-rmap-agent}" execution="INIT"/>
            <jdbc:script location="${authdb.script.drop-tables}" execution="DESTROY"/>
        </jdbc:initialize-database>

        <bean id="inmemorySessionFactory" parent="sessionFactory">
            <property name="dataSource" ref="inmemoryDatasource"/>
        </bean>
    </beans>

    <!-- integration tests -->
    <beans profile="integration-db">
        <!-- located in integration module -->
        <import resource="classpath*:/integration-db.xml"/>
    </beans>

    <!-- production database -->
    <beans profile="persistent-db">
        <context:property-placeholder location="classpath*:/persistent-db.properties" ignore-unresolvable="true"/>

        <bean id="persistentDatasource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
            <property name="driverClassName" value="${authdb.driverClassName}" />
            <property name="url" value="${authdb.url}" />
            <property name="username" value="${authdb.username}" />
            <property name="password" value="${authdb.password}" />
            <property name="validationQuery" value="${authdb.validationQuery}"/>
            <property name="testOnBorrow" value="${authdb.testOnBorrow}"/>
        </bean>

        <bean id="persistentSessionFactory" parent="sessionFactory">
            <property name="dataSource" ref="persistentDatasource"/>
        </bean>
    </beans>
        
</beans>
