<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
    
	<context:component-scan base-package="info.rmapproject" />
    <context:property-placeholder location="${rmap.configFile}" ignore-resource-not-found="true" ignore-unresolvable="true"/>
    <context:property-placeholder location="classpath*:/rmapapi.properties, classpath*:/rmapcore.properties, classpath*:/rmapauth.properties" ignore-unresolvable="true"/>
    
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:/spring-rmapcore-context.xml"/>
    <import resource="classpath:/spring-rmapauth-context.xml"/>
    <import resource="classpath:/rmap-indexing-solr.xml"/>
    <import resource="classpath:/rmap-kafka-shared.xml"/>

    <bean id="pathUtilsFactory" class="info.rmapproject.api.utils.SpringPathUtilsFactory">
        <property name="apiPath" value="${rmapapi.path}"/>
        <property name="documentationPath" value="${rmapapi.documentationPath}"/>
    </bean>

    <bean id="pathUtils" factory-bean="pathUtilsFactory" factory-method="getInstance" />

    <bean id="abstractResponseManager" class="info.rmapproject.api.responsemgr.ResponseManager">
        <property name="pathUtils" ref="pathUtils"/>
        <property name="queryParamHandler" ref="queryParamHandler"/>
    </bean>

    <bean id="discoResponseManager" parent="abstractResponseManager"
          class="info.rmapproject.api.responsemgr.DiscoResponseManager" scope="prototype"/>
    <bean id="agentResponseManager" parent="abstractResponseManager"
          class="info.rmapproject.api.responsemgr.AgentResponseManager" scope="prototype"/>
    <bean id="eventResponseManager" parent="abstractResponseManager"
          class="info.rmapproject.api.responsemgr.EventResponseManager" scope="prototype"/>
    <bean id="statementResponseManager" parent="abstractResponseManager"
          class="info.rmapproject.api.responsemgr.StatementResponseManager" scope="prototype"/>
    <bean id="resourceResponseManager" parent="abstractResponseManager"
          class="info.rmapproject.api.responsemgr.ResourceResponseManager" scope="prototype"/>
	
    <jaxrs:server id="services" address="/">
        <jaxrs:serviceBeans>
            <bean class="info.rmapproject.api.service.DiSCOApiService"/>   
            <bean class="info.rmapproject.api.service.EventApiService"/>   
            <bean class="info.rmapproject.api.service.AgentApiService"/>   
            <bean class="info.rmapproject.api.service.StatementApiService"/>   
            <bean class="info.rmapproject.api.service.ResourceApiService"/>   
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <!-- <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>-->
       		<ref bean="exceptionHandler"/>
        </jaxrs:providers>
		<jaxrs:inInterceptors>
		    <ref bean="authenticationInterceptor"/>
		</jaxrs:inInterceptors>
    </jaxrs:server>

    <bean id="exceptionHandler" class="info.rmapproject.api.exception.RMapApiExceptionHandler">
        <property name="pathUtils" ref="pathUtils"/>
    </bean>

	<bean id="authenticationInterceptor" class="info.rmapproject.api.auth.AuthenticationInterceptor" scope="prototype">
        <property name="exceptionHandler" ref="exceptionHandler"/>
    </bean>

	<bean id="timegate" class="info.rmapproject.api.responsemgr.versioning.TimegateImpl" scope="prototype"/>  

    <bean id="apiUserService" class="info.rmapproject.api.auth.ApiUserServiceImpl" scope="prototype"/>
    
</beans>

