<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:jaxrs="http://cxf.apache.org/jaxrs" 
    xmlns:context="http://www.springframework.org/schema/context" 
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd">
    

    <context:annotation-config/>
	<context:component-scan base-package="info.rmapproject" />
    <context:property-placeholder location="${rmap.configFile}" ignore-resource-not-found="true" ignore-unresolvable="true"/>
    <context:property-placeholder location="classpath*:/rmapapi.properties, classpath*:/rmapcore.properties, classpath*:/rmapauth.properties"/>
    
    <import resource="classpath:META-INF/cxf/cxf.xml"/>
    <import resource="classpath:/spring-rmapcore-context.xml"/>
    <import resource="classpath:/spring-rmapauth-context.xml"/>

    <bean id="discoResponseManager" class="info.rmapproject.api.responsemgr.DiscoResponseManager" scope="prototype"/>
    <bean id="agentResponseManager" class="info.rmapproject.api.responsemgr.AgentResponseManager" scope="prototype"/>
    <bean id="eventResponseManager" class="info.rmapproject.api.responsemgr.EventResponseManager" scope="prototype"/>
    <bean id="statementResponseManager" class="info.rmapproject.api.responsemgr.StatementResponseManager" scope="prototype"/>
    <bean id="resourceResponseManager" class="info.rmapproject.api.responsemgr.ResourceResponseManager" scope="prototype"/>
	
    <jaxrs:server id="services" address="/">
        <jaxrs:serviceBeans>
            <bean class="info.rmapproject.api.service.DiSCOApiService"/>   
            <bean class="info.rmapproject.api.service.EventApiService"/>   
            <bean class="info.rmapproject.api.service.AgentApiService"/>   
            <bean class="info.rmapproject.api.service.StatementApiService"/>   
            <bean class="info.rmapproject.api.service.ResourceApiService"/>   
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <!-- <bean class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/>-->
       		<bean class="info.rmapproject.api.exception.RMapApiExceptionHandler" scope="prototype"/>
        </jaxrs:providers>
		<jaxrs:inInterceptors>
		    <ref bean="authenticationInterceptor"/>
		</jaxrs:inInterceptors>
    </jaxrs:server>
		
	<bean id="authenticationInterceptor" class="info.rmapproject.api.auth.AuthenticationInterceptor" scope="prototype"/>   
	<bean id="apiUserService" class="${rmapapi.userservice.impl}" scope="prototype"/>
	<bean id="timegate" class="info.rmapproject.api.responsemgr.versioning.TimegateImpl" scope="prototype"/>  
	
</beans>

