<configuration>
  <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%30.30thread] %-5level [%30.-30C{0}] - %msg%n
      </pattern>
    </encoder>
    <target>System.err</target>
  </appender>
  <root level="WARN">
    <appender-ref ref="STDERR" />
  </root>
  <logger name="org.apache.kafka.clients.NetworkClient" additivity="false" level="ERROR">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="org.apache.kafka.common.utils.AppInfoParser" additivity="false" level="ERROR">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="org.apache.zookeeper.server.ZooKeeperServer" additivity="false" level="OFF">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="org.apache.kafka" additivity="false" level="WARN">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="org.apache.kafka.clients.producer.internals" additivity="false" level="WARN">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="kafka" additivity="false" level="WARN">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="org.springframework" additivity="false" level="WARN">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="org.springframework.test" additivity="false" level="WARN">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="org.springframework.kafka" additivity="false" level="WARN">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="info.rmapproject.core" additivity="false" level="WARN">
    <appender-ref ref="STDERR"/>
  </logger>
  <logger name="info.rmapproject.kafka.shared" additivity="false" level="WARN">
    <appender-ref ref="STDERR"/>
  </logger>
</configuration>