/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Header
	#Navigation
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face 
	#Slider */

/* #Header
================================================== */

#header { border-bottom: 1px solid #E3E3E8; margin-bottom: 8px; }
h1 a { text-indent: -9999px; }
#site-title {font-size: 24px; line-height: 45px; padding-top:3px; color: #5e7071; margin: 10px 0px 5px 0;}
#rmaplogo {height:60px;width:120px;}
#shortheader{float:left; padding-top:3px; width:150px;}

/* #Navigation
================================================== */

#main-nav { float: right; }
#main-nav ul, #main-nav li { list-style: none; padding: 0; margin: 0; display: inline; } 
#main-nav ul li { float: left; position: relative; }
#main-nav ul li a { display: inline-block; padding: 38px 10px 30px 10px; margin: 0px 5px; text-decoration: none; font-size: 14px; border-bottom: 3px solid transparent; }
#main-nav ul li:hover { border-bottom: 3px solid #0000C1 !important; }
.current { font-weight: bold !important; color: #444 !important; border-bottom: 3px solid #0000C1 !important; }

#main-nav ul li ul.dropdown-menu{
       min-width: 155px; /* Set width of the dropdown */
       max-width: 180px; /* Set width of the dropdown */
       background: #d6d6d6;
       display: none;
       position: absolute;
       z-index: 999;
       right: 0;
       top: 92px;
   }
      
#main-nav ul li:hover ul.dropdown-menu{
       display: block;	/* Display the dropdown */
   }
#main-nav ul li ul.dropdown-menu li {
    display: block;
    margin: 0px;
    padding: 0px 1px;
    width: 100%;
}
#main-nav ul li ul.dropdown-menu a { display: inline-block; padding: 5px 10px 5px 10px; margin: 0 0px; text-decoration: none; font-size: 14px; }
#main-nav ul li ul.dropdown-menu li:hover { border-bottom: 0px !important; background-color:#A8A8A8; width:98%;}

#main-nav ul li .signin-menu {
    width: 192px;
    background: #FFFFFF;
    display: none;
    border: 2px solid #f2f2f2;
    position: absolute;
    z-index: 999;
    right: 0;
    padding: 0px 4px 0px 0px;
    top: 92px;
    text-align: center;
}

#main-nav ul li:hover .signin-menu{
       display: block;	/* Display the dropdown */
   }
   
#main-nav ul li .signin-menu a { display: inline-block; padding: 3px 0px 0px 6px; margin: 0px;}

#main-nav ul li .logged-in-icon {padding: 0px 5px 0px 0px; float:left;}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

/* #Site Styles
================================================== */

a, a:visited, .clickableText { text-decoration: none; color: #0000C1; transition: color 0.3s linear; -moz-transition: color 0.3s linear; -webkit-transition: color 0.3s linear; -o-transition: color 0.3s linear; cursor:pointer;}
a:hover, .clickableText:hover { color: #aaccff; }

h1, h2, h3, h4, h5, h6 { font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #003c67; font-weight: bold; overflow-wrap: break-word; word-wrap: break-word; }
h1 { font-size: 24px; line-height: 30px; color: #5e7071; margin: 10px 0px 5px 0;}
h2 { font-size: 18px; line-height: 20px; color: #5e7071; margin: 10px 0 5px 0;}
h3 { font-size: 14px; line-height: 18px; color: #5e7071; }
h4 { font-size: 14px; line-height: 18px; color: #5e7071; }
h5 { font-size: 12px; line-height: 18px; color: #5e7071; }
h6 { font-size: 10px; line-height: 16px; color: #5e7071; }

p { line-height:24px;}


.rounded { background: #003c67; -webkit-border-radius: 100px; -moz-border-radius: 100px; border-radius: 100px; display: inline-block; width: 40px !important; height: 40px; color: white; text-align: center; vertical-align: middle; font-size: 20px; line-height: 40px; margin-right: 5px; }

.overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0; -moz-opacity: 0; filter: alpha(opacity=0); -webkit-transition: opacity 180ms ease-in-out; -moz-transition: opacity 180ms ease-in-out; -o-transition: opacity 180ms ease-in-out; transition: opacity 180ms ease-in-out; z-index: 40; }
.overlay.zoom { background: url(../images/overlay-bg.png) no-repeat center center; }
.overlay:hover { opacity: 1; -moz-opacity: 1; filter:alpha(opacity=100); }

.feature-column h4 a { color: #003c67; text-decoration: none; }
.feature-column h4 a:hover { color: #012037; }

.featured-image { position: relative; margin-bottom: 10px; }

.tagline { font-size: 1.7em; padding: 0.8em 0; margin: 1em 0 1em 0; text-align: center; font-style: italic; letter-spacing: 0px; line-height: 1.6em; clear: both; }
.tagline strong { color: #2C88C9; }

section.container { padding: 1.2em 0; }

.recent-posts, .recent-posts h4 { margin-bottom: 20px; }

blockquote.testimonial { position: relative; padding: 20px 46px 20px 50px; border-left: none; display: block; letter-spacing: 0px; }
.sidebar-widget blockquote.testimonial { padding: 0px 0px 20px 0px; }
blockquote.no-after::before, blockquote.no-after::after { content:''; }

blockquote cite { position: absolute; right: 50px; text-align: right; bottom: 0; line-height: 1em; text-transform: uppercase; color: #999; font-style: normal; font-size: 11px; }

blockquote::before, blockquote::after { content: '\201C'; font-size: 100px; position: absolute; top: 0px; left: 0px; line-height: 1em; font-family: Georgia, "Times New Roman", serif; font-style: italic; color: #DDD; padding-right:20px; }


footer {background: #DBFE81; border-top: 1px solid #91CC00; }
#footer-base { background: #000085; font-size: 0.9em; font-style: italic; color: #DBFE81; padding: 0.8em 0; }
#footer-base a { color: #DBFE81; }
#footer-base a:hover { color: #EEE; }

.footer-columns { padding: 20px 0; }
.social a { text-decoration: none; font-size: 1.2em; color: #003c67; }
.social a:hover { color: #2c88c9; }

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


acronym { border-bottom:1px dotted #ccc; }

.CSSTableGenerator {
	margin:0px;
	padding:0px;
	width:100%;
	border:1px solid #ffffff;
	
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
	
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
	
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
	
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}.CSSTableGenerator table{
	word-wrap: break-word;
	table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
	width:100%;
	height:100%;
	margin:5px 0px 30px 0px;
	padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-right-radius:5px;
	border-bottom-right-radius:5px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:5px;
	-webkit-border-top-left-radius:5px;
	border-top-left-radius:5px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:5px;
	-webkit-border-top-right-radius:5px;
	border-top-right-radius:5px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:5px;
	-webkit-border-bottom-left-radius:5px;
	border-bottom-left-radius:5px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#e5e5e5; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#eeeeee; }.CSSTableGenerator td{
	vertical-align:middle;
	border:1px solid #ffffff;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:6px;
	font-weight:normal;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #9a999b 5%, #9a999b 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9a999b), color-stop(1, #9a999b) );
	background:-moz-linear-gradient( center top, #9a999b 5%, #9a999b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a999b", endColorstr="#9a999b");	background: -o-linear-gradient(top,#9a999b,9a999b);
	background-color:#9a999b;
	border:0px solid #ffffff;
	text-align:left; 
	border-width:0px 0px 1px 1px;
	font-size:16px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #9a999b 5%, #9a999b 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9a999b), color-stop(1, #9a999b) );
	background:-moz-linear-gradient( center top, #9a999b 5%, #9a999b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#9a999b", endColorstr="#9a999b");	background: -o-linear-gradient(top,#9a999b,9a999b);

	background-color:#9a999b;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.cysmall {
  height: 470px;
  width: 100%;
  position: relative;
  left: 0;
  background-color: #F7F7FF;
  border: 1px solid #ccc;
}

.cybig {
  height: 800px;
  width: 100%;
  position: relative;
  left: 0;
  background-color: #F7F7FF;
  border: 1px solid #ccc;
}

.cywidget {
  height: 100%;
  width: 100%;
  left: 0;
  background-color: #F7F7FF;
  border: 0px;
}


#info {
  color: #c88;
  font-size: 1em;
  position: absolute;
  z-index: -1;
  left: 1em;
  top: 1em;
}

.statusACTIVE {
    color: #91CC00;
    text-align: center;
    border: 1px solid #91CC00;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    margin-top:25px;
}
.statusINACTIVE {
    color: #CC0017;
    text-align: center;
    border: 1px solid #CC0017;
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    width: 100%;
    margin-top:25px;
}

.toggle {
	text-decoration: none; 
	color: #0000C1; 
	display: inline-block;
}
.toggleLiterals {
	text-decoration: none; 
	color: #0000C1; 
	display: inline-block;
}
.toggleTypes {
	text-decoration: none; 
	color: #0000C1; 
	display: inline-block;
}


fieldset { 
	background-color:white;
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
    border: 2px groove;
}


.boxedsidebar { 
    display: block;
	margin-top:10px;
    margin-left: 2px;
    margin-right: 2px;
	margin-bottom:2px;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.4em;
    padding-right: 1.4em;
    border: 2px groove;
	text-align:center;
}


p.notice{ 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: 2px;
	font-size: 15px;
    background-color:#ffe5e5;
    color:#333;
}
.notice strong{ 
	color:#333;
}

p.greybox{ 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: 2px;
    background-color:#f0f0f0;
    font-style: italic;
}

.greenbox{ 
    display: block;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: 2px;
	color:#333;
    background: #d9eda6;
	overflow-wrap: break-word; 
	word-wrap: break-word;
	font-size:14px;
	line-height:26px;
}
.greenbox strong{ 
	color:#444;
}
.greenbox a:link,.greenbox a:active {
	color:#0000C1;
}


legend {
    font-size:1.4em;
}

#formButtons {
	text-align:right;
}

label{padding-top:10px;}
select {padding: 5px; border: 1px solid #ccc; margin: 5px 0; width:507px;}
input[type=text] {padding: 5px; width:500px;border: 1px solid #ccc; margin: 5px 0;}
input[type=checkbox] {padding-left:2px;}
textarea {width:500px;padding: 5px; margin: 5px 0; resize: vertical;}
input[type=text].dateInput {width:100px; display:inline-block;}
input[readonly]{background-color:#f0f0f0;}

#truncate {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.validationErrors {
	color:red;
}

.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 4px;
	vertical-align: middle;
	border-top: 4px solid #000000;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	opacity: 0.3;
	filter: alpha(opacity=30);
}

.navlinks {
	display:inline-block;
	text-align:center;
	width:100%;
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}
	
.navlinks a, .navlinks span{
	margin:3px 4px 2px 0px;
    text-decoration: none;
    padding: 1px 5px 1px 5px;
    background: #93c900;
	color: #ffffff;
	-webkit-box-shadow: 1px 1px 1px #a6a1a6;
	-moz-box-shadow: 1px 1px 1px #a6a1a6;
	box-shadow: 1px 1px 1px #a6a1a6;
	border: solid #72828c 1px;
}

.navlinks a:hover, .navlinks span:hover {
  background: #b0e600;
  color: #ffffff;
  cursor:pointer;
}

.mainPageCounter {
	display:inline-block;
	font-style:italic;
	float:left;
	margin-top:5px;
	overflow-wrap: break-word; 
	word-wrap: break-word;
}

.sidebarPageCounter {
	display:inline-block;
	font-style:italic;
	float:left;
	margin-bottom:6px;
	width:100%;
}

.previous {
}

.next {
}

.sidebarPager {
	margin-left:4px;
	float:left;
}
.mainContentPager {
	margin-right:4px;
	float:right;	
}

.tab {
	width: 100%; 
	display:block;
	padding:0px 0px 3px 0px; 
	border-bottom: 1px solid #ccc; 
	margin-bottom:5px;
	margin-left:0;
}

.tab .active {
	font-weight:bold;
	color:black;
}

.tab .active:hover {
	color:black;
}

.tablinks {
	display:inline-block;
	color: #0000C1; 
	-webkit-user-select: none;  
	-moz-user-select: none;    
	-ms-user-select: none;      
	user-select: none;
}

.tablinks:hover {
	cursor:pointer;
	color: #aaccff;
}

#tableview {
	display: none;
	padding: 0px;
}

#graphview {
	min-height: 470px;
}


/**link options formatting*/

.loadgraphlink {
	margin:4px 2px 2px 2px;
    text-decoration: none;
    padding: 1px 2px 1px 2px;
    background: #f5f5f5;
	-webkit-box-shadow: 1px 1px 1px #a6a1a6;
	-moz-box-shadow: 1px 1px 1px #a6a1a6;
	box-shadow: 1px 1px 1px #a6a1a6;
	border: solid #72828c 1px;
	font-size:11px;
}

.loadgraphlink:hover {
  background: #e3e3e3;
  color:grey;
}


#loading {
  text-align: center;
}
#loading-image {
  height:125px;
  width:125px; 
  z-index: 100;
}

#searchbox {
	width:320px;
	float:left;
	margin-right:10px;" 
}

#textnote {
	font-size:small;
	font-style: italic; 
}

.lineContinues {
	display:inline-block;
}

.tooltip {
    position: relative;
    display: inline-block;
	vertical-align:super;
	font-size:small;
	color:#0000C1;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 170px;
    background-color: #6f6f6f;
    color: #ffffff;
    font-weight: normal;
    font-size: small;
    text-align:left;
    border-radius: 3px;
    padding: 5px;
    position: absolute;
    z-index: 10;
    top: 100%;
    left: 10%;
    margin-left: -85px;
}

.tooltip .tooltiptext a {
	color: #dddddd;	
	font-style:italic;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #6f6f6f transparent;
}


/**search styling**/
.searchResults {
	min-height:450px;
}

.searchResult {
	padding-top:5px; 
	margin-bottom:10px; 
	border-top:1px solid #ddd;"
}

.searchLink {
	font-size:larger;
}

.searchResult .aggregates{
	font-style: italic;
}

.facets {
	margin:117px 10px 10px ;
	padding:10px 10px 5px 10px;
	background-color:#edecff;
	width:100%;
}

.facets .facet {
	padding-top: 10px;
	padding-bottom:10px;
}

.facets hr {
	padding:0;
	margin:0;
}

.facets .facet h3 {
	font-size:15px;
	font-weight: bold;
}

.showMore {
	font-color:#555;
	font-size:smaller;
}

.rightOfInput {
	 display:inline-block;
	 margin-top:3px;
}

.includeInactive {
    display: inline-block;
    float: right;
    padding: 4px 4px 0px 4px;
    margin-top: 10px;
    border: 1px solid #aaa;
    background-color: #eee;
    color: #333;
}

.includeInactive p {
    display: inline-block;
    line-height: 11px;
    margin: 0;
    vertical-align: text-top;
}

