src/test/resources/docker/cores/discos/data/*
src/test/resources/docker/cores/versions/data/*
src/test/resources/docker/cores/resources/data/*
src/test/docker/cores/discos/data/*
src/test/docker/cores/versions/data/*
src/test/docker/cores/resources/data/*
src/docker/cores/discos/data/*
src/docker/cores/versions/data/*
src/docker/cores/resources/data/*
